<tr>
		<td align="left" style="padding-left:15px"><strong style="font-family: Gulim, sans-serif; font-size: 13px; color: #333;">1. 기본 정보</strong></td>
	</tr>
	<tr valign="middle">
		<td align="center" style="padding:0px 13px" >
			<table width="100%" cellpadding="3" cellspacing="0" style="font-size:11px; font-family: Gulim, sans-serif; border-collapse: collapse; background-color: #ffffff; color: #666666; border:1px solid #cccccc;" border="1" bordercolor="#cccccc">
				<tr valign="middle">
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center">상품명</td>
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center"><%[KRHRED_UT_]%></td>
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center">최초 투자일자</td>
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center"><%[KRHRED_Acc_OpenDt_]%></td>
				</tr>
				<tr valign="middle">
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center">계좌번호</td>
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center"><%[KRHRED_Acc_]%></td>
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center">투자기간</td>
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center"><%[KRHRED_Inv_Period_Days_]%>일</td>
				</tr>
				<tr valign="middle">
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center">잔고좌수</td>
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center"><%[KRHRED_Unit_]%> 좌</td>
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center">정보제공 기준시점</td>
					<td width="25%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px" align="center"><%[KRHRED_UT_Statement_Date]%></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr valign="middle"><td height="30"></td></tr>
	<tr valign="middle">
		<td width="100%" align="left" style="padding-left:15px"><strong style="font-family: Gulim, sans-serif; font-size: 13px; color: #333;">2. 주요 정보</strong></td>
	</tr>
	<tr valign="middle">
		<td align="center" style="padding:0px 13px">
			<table width="100%" cellpadding="3" cellspacing="0" style="font-size:11px; font-family: Gulim, sans-serif; border-collapse: collapse; background-color: #ffffff; color: #666666; border:1px solid #cccccc;" border="1" bordercolor="#cccccc">
				<tr valign="middle">
					<td width="100%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px; borer: 1px dotted #cccccc;" align="left">“정보제공 시점인 (<%[KRHRED_UT_Statement_Date]%>)기준으로 고객님께서 투자하신 <%[KRHRED_UT_]%>의 <strong>평가금액은 (<%[KRHRED_CNAV_]%>), 누적 수익률은 (<%[KRHRED_Cum_Return_After_Cost_]%>)</strong>입니다.”</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr valign="middle"><td height="20"></td></tr>
	<tr valign="middle">
		<td align="center" style="padding:0px 13px">
			<table width="100%" style="font-size:11px; font-family: Gulim, sans-serif; background-color: #ffffff; color: #666666;" bordercolor="#cccccc">
				<tr valign="middle">
					<td colspan="2" width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left"><strong>① 투자원금</strong></td>
					<td width="4%"></td>
					<td width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:7px; padding-right: 7px; border: 3px solid black;" align="right"><strong><%[KRHRED_Inv_Pri_]%></strong></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><storng>&darr;</strong></td>
					<td></td>
					<td></td>
				</tr>
				<tr valign="middle">
					<td rowspan="2" width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						<strong>② 중간환매대금</strong>
					</td>
					<td width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						비용 차감 전
					</td>
					<td width="4%"></td>
					<td width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-right: 7px; border: 1px solid #cccccc;" align="right"><strong><%[KRHRED_Red_BeforeCost_]%></strong></td>
				</tr>
				<tr valign="middle">
					<td width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						비용 차감 후
					</td>
					<td width="4%"></td>
					<td width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-right: 7px; border: 1px solid #cccccc;" align="right"><strong><%[KRHRED_Red_AfterCost_]%></strong></td>
				</tr>
				<tr valign="middle">
					<td colspan="2" align="center"><storng>&darr;</strong></td>
					<td></td>
					<td></td>
				</tr>
				<tr valign="middle">
					<td colspan="2" width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left"><strong>③ 수수료 보수</strong></td>
					<td width="4%"></td>
					<td width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-right: 7px; border: 3px solid black;" align="right">
						<strong><%[KRHRED_Fees_]%></strong><br>
						(판매수수료율: <%[KRHRED_Sales_Fee_]%> %,<br>
						총보수율: <%[KRHRED_All_Fee_]%> %)
					</td>
				</tr>
				<tr valign="middle">
					<td colspan="2" align="center"><storng>&darr;</strong></td>
					<td></td>
					<td></td>
				</tr>
				<tr valign="middle">
					<td colspan="4" width="100%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top: 10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						<strong>총 투자원금(①)에서 중간환매대금(②) 및 수수료·보수(③)를 차감하고 자산운용사가 운용한 결과가 평가금액(④)입니다.</strong>
						<br>(보다 자세한 운용내용은 자산운용보고서 참조)
					</td>
				</tr>
				<tr valign="middle">
					<td colspan="2" align="center"><storng>&darr;</strong></td>
					<td></td>
					<td></td>
				</tr>
				<tr valign="middle">
					<td colspan="2" width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left"><strong>④ 평가금액</strong></td>
					<td width="4%"></td>
					<td width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-right: 7px; border: 3px solid black;" align="right"><strong><%[KRHRED_CNAV_]%></strong></td>
				</tr>
				<tr valign="middle">
					<td colspan="2" align="center"><storng>&darr;</strong></td>
					<td></td>
					<td></td>
				</tr>
				<tr valign="middle">
					<td rowspan="2" width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						<strong>⑤ 환매예상금액</strong>
					</td>
					<td width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						차감 예상액<br>(환매수수료, 세금 등)
					</td>
					<td width="4%"></td>
					<td width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-right: 7px; border: 1px solid #cccccc;" align="right"><strong><%[KRHRED_Deductable_Fees_]%></strong></td>
				</tr>
				<tr valign="middle">
					<td width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						환매예상금액
					</td>
					<td width="4%"></td>
					<td width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-right: 7px; border: 1px solid #cccccc;" align="right"><strong><%[KRHRED_Net_Red_]%></strong></td>
				</tr>
				<tr valign="middle">
					<td colspan="2" align="center"><storng>&darr;</strong></td>
					<td></td>
					<td></td>
				</tr>
				<tr valign="middle">
					<td rowspan="2" width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						<strong>⑥ 누적수익률</strong>
					</td>
					<td width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						비용 차감 전
					</td>
					<td width="4%"></td>
					<td width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-right: 7px; border: 3px solid black;" align="right"><strong><%[KRHRED_Cum_Return_Before_Cost_]%></strong></td>
				</tr>
				<tr valign="middle">
					<td width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						비용 차감 후
					</td>
					<td width="4%"></td>
					<td width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-right: 7px; border: 3px solid black;" align="right"><strong><%[KRHRED_Cum_Return_After_Cost_]%></strong></td>
				</tr>
				<tr valign="middle">
					<td colspan="2" align="center"><storng>&darr;</strong></td>
					<td></td>
					<td></td>
				</tr>
				<tr valign="middle">
					<td rowspan="2" width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						<strong>⑦ 연환산수익률</strong>
					</td>
					<td width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						비용 차감 전
					</td>
					<td width="4%"></td>
					<td width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-right: 7px; border: 3px solid black;" align="right"><strong><%[KRHRED_Net_Ret_Before_Cost_]%></strong></td>
				</tr>
				<tr valign="middle">
					<td width="24%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-left: 7px; border: 1px solid #cccccc; background-color: #DCDCDC;" align="left">
						비용 차감 후
					</td>
					<td width="4%"></td>
					<td width="48%" style="font-size:11px; font-family:Gulim, sans-serif; padding-top:10px; padding-right: 7px; border: 3px solid black;" align="right"><strong><%[KRHRED_Net_Ret_After_Cost_]%></strong></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr valign="middle"><td height="20"></td></tr>