<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
	<meta http-equiv="imagetoolbar" content="no">
	<title>HSBC 은행 펀드 잔고 안내</title>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="950" border="0" cellpadding="0" cellspacing="0">

	<tr>
		<td align="right"><img src="http://mail.hsbc.com.hk/kr/PFS_estatement/img/img_01.png"></td>
	</tr>
	<tr><td height="15"></td></tr>
	<tr>
		<td align="left" style="padding-left:15px"><strong style="font-family:Gulim, sans-serif; font-size:12px; color:#333;">HSBC 고객님께,</strong></td>
	</tr>
	<tr><td height="10"></td></tr>
	<tr>
	  <td align="left" style="font-family:Gulim, sans-serif; font-size:11px; color:#666;line-height:140%;padding-left:15px">HSBC은행을 이용해 주셔서 감사합니다.<br />
		별첨과 같이 펀드 잔고 통보서를 보내드립니다.</td>
	</tr>
	<tr><td height="30"></td></tr>
<tr><td height="30"></td></tr>
	<tr>
		<td align="center" style="padding:0px 13px">
			<table width="100%" cellpadding="0" cellspacing="0" style="font-size:11px; font-family:Gulim, sans-serif; border-collapse:collapse; color:#666666;">
				<tr valign="top">
					<td align="left" width="14" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%">1.</td>
					<td align="left" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%;word-break:keep-all;">본 펀드 잔고 안내는 금융투자회사의 영업 및 업무에 관한 규정에 의거하여 2008년 3월 31일 이후에 펀드를 신규로 매입하신 고객님께 해당 펀드의 잔고현황을 알려드리기 위해 월별로 이메일을 통하여 발송됩니다. 고객님께서는 이를 통해 보유하신 펀드의 잔고, 평가 금액 등 투자 성과를 정기적으로 확인하실 수 있습니다.</td>
				</tr>
				<tr><td colspan="2" height="8"></td></tr>
				<tr valign="top">
					<td align="left" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%">2.</td>
					<td align="left" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%;word-break:keep-all;">본 펀드잔고안내 메일의 수신을 원하지 않으시는 경우에는 서울 고객서비스센터 방문 또는 콜센터 (1544-3311)로 폰뱅킹 비밀번호를 통한 본인 확인 완료 후 신청해 주시기 바랍니다.</td>
				</tr>
				<tr><td colspan="2" height="8"></td></tr>
				<tr valign="top">
					<td align="left" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%">3.</td>
					<td align="left" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%;word-break:keep-all;">평가금액은 기준가 적용일 기준이며 고객님의 현재펀드 평가 금액과 다를 수 있습니다. 가장 최근의 평가 현황은 서울 고객서비스센터 방문, 또는 콜센터 (1544-3311)로 폰뱅킹 비밀번호를 통한 본인 확인 완료 후 확인하실수 있습니다.</td>
				</tr>
				<tr><td colspan="2" height="8"></td></tr>
				<tr valign="top">
					<td align="left" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%">4.</td>
					<td align="left" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%;word-break:keep-all;">이 금융상품은 예금자보호법에 따라 예금보험공사가 보호하지 않습니다.</td>
				</tr>
				<tr><td colspan="2" height="8"></td></tr>
				<tr valign="top">
					<td align="left" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%">5.</td>
					<td align="left" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%;word-break:keep-all;">이메일로 발송되는 본 펀드잔고 안내는 고객님이 사용하시는 각 이메일 서비스업체 및 개인별로 설정해 놓으신 이메일 수신 환경에 따라 일부 데이터의 표기가 원활하게 보이지 않을 수도 있습니다. 이와 같은 현상으로 인하여 본 펀드 잔고 안내 내용에 대한 문의사항이 있으실 경우에는 콜센터 (1544-3311)로 연락주시기 바랍니다.</td>
				</tr>
				<tr><td colspan="2" height="8"></td></tr>
				<tr valign="top">
					<td align="left" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%">6.</td>
					<td align="left" style="font-size:11px; font-family:Gulim, sans-serif; color:#666; line-height:140%;word-break:keep-all;">본 메일은 발신전용 메일입니다.</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr><td height="30"></td></tr>
	<tr bgcolor="#ff0000;" style="background-color:#ff0000;"><td height="6"></td></tr>
	<tr><td height="18"></td></tr>
	<tr>
		<!--<td><img src="http://mail.hsbc.com.hk/kr/PFS_estatement/img/img_05.jpg" width="860" height="80"></td>-->
		<td style="color:#818181; font-size:10px; padding-left:15px;">HSBC 은행, 서울특별시 중구 칠패로 37(봉래동 1가 25번지), HSBC 고객센터 : 1544-3311</td>
	</tr>
	<tr><td height="5"></td></tr>
	<tr>
		<td style="color:#818181; font-size:10px; padding-left:15px;">
		&copy; Copyright. The Hongkong and Shanghai Banking Corporation Limited 2013. All rights reserved.</td>
	</tr>
	<tr><td height="30"></td></tr>
</table>
		
</body>

</html>